@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-FD-Regular.ttf')
}
*{
    font-family: Vazirmatn;
    direction: rtl;
}
html{
    
}

body{
    width: 100vw;
    height: 100vh;
}
