@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-FD-Regular.ttf')
}
*{
    font-family: Vazirmatn;
}
html{
    direction: rtl;
}

body{
    width: 100vw;
    height: 100vh;
}
div {
    background-color: cadetblue;
    border: 3px solid black;
}

.header {
    height: 100px;
}

.sub-header {
    height: 100px;
}